.about
{
    display: flex;
    align-items: center;
    height: 100vh;
    /* padding-top: 10%; */
    /* background-color: lightblue; */
    box-sizing: border-box;
    padding: 0;
}

.about-text h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f4f4a1;
    margin-bottom: 3rem;
    box-sizing: border-box ;
}

.about-text.light h1
{
    color: #021526;
}
.about-text p
{
    font-size: 1.2rem;
    color: #cbd5e1;
    padding: 0 2rem;
}

.about-text
{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 20%; */
    height: 100%;
    box-sizing: border-box;
    /* background-color: bisque; */
    width: 50%;
    padding: 5% 0%;
}

.about-image
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/public/assets/brick-wall-bg.jpg') no-repeat center center; /* Background image for the photo frame */
}

.about-image img
{
    width: 400px;
    height: 440px;
    border-radius: 10px;
    transform: rotate(-10deg);
    border: 10px solid #fff; /* White border for the photo frame */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8), /* Subtle shadow for depth */
                0 6px 30px rgba(0, 0, 0, 0.8); /* Additional shadow for realism */
    
}

/* @media (max-width: 768px) */
@media screen and (max-width: 768px)
{
    .about
    {
        padding-top: 10vh;
        flex-direction: column;
        justify-content: center;
    }

    .about-text
    {
        width: 100%;
        padding: 5% 8%;
    }

    .about-content
    {
        margin: 0;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* overflow-y: scroll; */
        /* background-color: antiquewhite; */
    }

    .about-text p
    {
        font-size: 1.2rem;
        margin: 1rem 0;
        padding: 0;
    }
    .about-image
    {
        display: none;
    }
    .about-image img
    {
        width: 250px;
        height: 300px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .about
    {
        padding-top: 15%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        /* background-color: #4b5563; */
    }

    .about-content p
    {
        font-size: 2em;
    }
}