.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    height: 100vh;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.contact-container
{
    display: flex;
    height: 60%;
    width: 80%;
}

.contact-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 0 10%;
    height: 100%;
    box-sizing: border-box;
    /* background-color: bisque; */
}

.contact-inputs
{
    width: 50%;
    color: #4b5563;
}

.contact-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 5% 0;
}

.contact-info hr
{
    width: 60%;
    margin: 2rem 0;
    height: 1px;
    background-color: #4b5563;
    border: none;
}

.contact-detail
{
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.contact-detail p
{
    margin: 0 1rem;
}

.socials
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 38%;
    /* background-color: antiquewhite; */
}

.copyright
{
    margin-top: 3rem;
}

/* Mobile view */
@media screen and (max-width: 1024px){
    .contact-section
    {
        height: 65vh;
        padding: 5vh 0 10vh 0;
    }
    .contact-container
    {
        flex-direction: column;
        align-items: center;
    }
    .contact-inputs, .contact-form
    {
        width: 100%;
    }
    .contact-form
    {
        display: none;
        padding: 0;
    }
    .contact-info
    {
        width: 100%;
        padding: 0;
    }
    .contact-info hr
    {
        width: 100%;
    }
    .socials
    {
        width: 80%;
    }

    .copyright
    {
        margin-top: 3rem;
    }
}
